
extends layout

block content
  section.new
    h2 Edit
    .container
      form.new(method="post" action=`/items/${ item._id }`)
        div.new Name
          input(type="text" name="name" value=`${ item.name }`)
        div.new Age
          input(type="text" name="age" value=`${ item.age }`)
        div.new Weight
          input(type="text" name="weight" value=`${ item.weight }`)
        div.new Height
          input(type="text" name="height" value=`${ item.height }`)
        div.new.create
          input(type="submit" value="Edit")
          input(type="hidden" name="_method" value="put")
          input(type="hidden" name="_csrf" value=`${ csrftoken }`)
          input(type="hidden" name="_id" value=`${ item._id }`)

      p.go_back: a(href="/find") Go back
