extends layout

block content
  h1 List
  ul
    for item, index in items
      li
        a(href=`/items/${ item._id }`) #{ item.name }
        a(href=`/items/${ item._id }/edit`) [Edit]
        form(method="post" action=`/items/${ item._id }`)
          input(type="submit" value="[Delete]")
          input(type="hidden" name="_method" value="delete")
          input(type="hidden" name="_id" value=`${ item._id }`)

  p: a(href="/new") Create
