extends layout

block content
  section.toppo
    p.create: a(href="/new") Create
    h2 List
    container
      ul
        for item, index in items
          li.list
            a.name(href=`/items/${ item._id }`) #{ item.name }
            a.edit(href=`/items/${ item._id }/edit`) Edit
            form.delete(method="post" action=`/items/${ item._id }`)
              input.delete(type="submit" value="Delete")
              input(type="hidden" name="_csrf" value=`${ csrftoken }`)
              input(type="hidden" name="_method" value="delete")
              input(type="hidden" name="_id" value=`${ item._id }`)

